{% extends 'base.html' %}
{% block main %}
    <script>
        $('.home').removeClass('active')
        $('.book').addClass('active')
        $('.publish').removeClass('active')
        $('.author').removeClass('active')
    </script>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">图书</h3>
        </div>
        <div class="panel-body">
            <a href="/add_book/" type="button" class="btn btn-danger pull-right">新增</a>
        </div>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>书名</th>
                <th>价格</th>
                <th>出版日期</th>
                <th>作者</th>
                <th>出版社</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.price }}</td>
                    <td>{{ book.pub_date|date:'Y-m-d' }}</td>
                    <td>
                        {% for author in book.authors.all %}
                            {% if forloop.last %}
                                {{ author.name }}
                            {% else %}
                                {{ author.name }} |
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ book.publish }}</td>
                    <td><a href="/update_book/?id={{ book.id }}">编辑</a></td>
                    <td><a href="/delete_list/{{ book.id }}">删除</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}