<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">作者修改</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <p>作者：<input type="text" name="name" value="{{ author.name }}" class="form-control"></p>
                        </div>
                        <div class="form-group">
                            <p>性别：<input type="text" name="sex" value="{{ author.sex }}" class="form-control"></p>
                        </div>
                        <input type="submit" value="修改" class="btn btn-warning pull-right">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>